<% if current_user %>
  <div class="flex items-center justify-center gap-4 flex-col">
    <p class="text-gray-700 text-sm md:text-base">
      Hello, <span class="font-semibold"><%= current_user.email %></span>!
    </p>

    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 transition-all border border-black" %>

    <p class="text-gray-600 text-sm md:text-base">
      Role: <span class="font-medium"><%= current_user.role %></span>
    </p>
  </div>
<% else %>
  <div class="flex items-center gap-4">
    <%= link_to "Sign in", new_user_session_path, 
        class: "text-blue-600 hover:text-blue-800 underline text-sm md:text-base transition-colors" %>

    <%= link_to "Sign up", new_user_registration_path, 
        class: "px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors text-sm md:text-base" %>
  </div>
<% end %>
